In [1]:
import pandas as pd

In [2]:
def get_data_dir():
    return '../data/'

def macro_raw_dir():
    return get_data_dir()+'macro/raw/'

def gold_price_file():
    return macro_raw_dir()+'gold_rates_30_year.xlsx'

In [3]:
gold_file = gold_price_file()

gold_file

'../data/macro/raw/gold_rates_30_year.xlsx'

In [8]:
gold_df = pd.read_excel(gold_file,index_col=0,parse_dates=True )

In [9]:
gold_df

            SPOT_per_troy_ounce
Date
1978-12-29               226.00
1979-01-01               226.00
1979-01-02               226.80
1979-01-03               218.60
1979-01-04               223.15
1979-01-05               225.50
1979-01-08               223.10
1979-01-09               224.00
1979-01-10               220.70
1979-01-11               220.65
1979-01-12               217.60
1979-01-15               216.85
1979-01-16               220.65
1979-01-17               227.25
1979-01-18               231.75
1979-01-19               230.55
1979-01-22               235.00
1979-01-23               230.00
1979-01-24               236.10
1979-01-25               233.85
1979-01-26               235.45
1979-01-29               235.20
1979-01-30               233.50
1979-01-31               233.70
1979-02-01               229.35
1979-02-02               230.30
1979-02-05               243.10
1979-02-06               244.50
1979-02-07               251.60
1979-02-08               250.50
...                         ...
2019-04-29              1279.50
2019-04-30              1282.30
2019-05-01              1283.80
2019-05-02              1270.95
2019-05-03              1278.55
2019-05-06              1278.55
2019-05-07              1281.20
2019-05-08              1285.20
2019-05-09              1286.10
2019-05-10              1287.10
2019-05-13              1295.60
2019-05-14              1298.40
2019-05-15              1299.10
2019-05-16              1291.70
2019-05-17              1280.80
2019-05-20              1276.85
2019-05-21              1271.15
2019-05-22              1273.80
2019-05-23              1283.65
2019-05-24              1282.50
2019-05-27              1282.50
2019-05-28              1278.30
2019-05-29              1281.65
2019-05-30              1280.95
2019-05-31              1295.55
2019-06-03              1317.10
2019-06-04              1324.25
2019-06-05              1335.05
2019-06-06              1335.50
2019-06-07              1340.65

[10551 rows x 1 columns]